@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject SignInManager<ApplicationUser> SignInManager
<h2>Welcome to Fitness Community</h2>
<div class="jumbotron">
    @if (SignInManager.IsSignedIn(User))
    {
        <h4><a asp-area="User" asp-page="/WeightLog/Create">Here</a> you can start logging your daily weight.</h4><br />

        <h4>
            If you have already logged your weight in past you can see them in <a asp-area="User" asp-page="/Table/Index">Table format</a>
            or visualise them on <a asp-area="User" asp-page="/Chart/Index">Chart</a>.
        </h4>
        <br />
        <h4>
            If you want to change your profile setting go to <a asp-area="User" asp-page="/Profile/Index">Profile</a>.
        </h4>
    }
    else
    {
        <h4>In order to Use application You have to <a asp-area="Identity" asp-page="/Account/Register">Register</a>.</h4>
        <h4>If You already have account please <a asp-area="Identity" asp-page="/Account/Login">Log in</a>.</h4>
    }
</div>
